body {
    margin: 0;
    padding: 0;
  background-color:darkgray;
}
h1 {
  text-transform: uppercase;
  color: black;
  font-size: 3rem;
}

.poster {
  width: 50%;
  margin-left: 25%;
  margin-top: 40px;
  color: white;
  font-family: "Josefin Sans", serif;
  text-align: center;
}

.motivation-img {
  border: 5px solid white;
  width: 100%;
}
